.item-parent {
    float: left;
}

@media screen and (min-width: 1500px) {
    .item-parent {
        width: 50%;
    }
}

@media screen and (min-width: 2000px) {
    .item-parent {
        width: 33.3%;
    }
}

@media screen and (min-width: 2500px) {
    .item-parent {
        width: 25%;
    }
}

@media screen and (min-width: 3000px) {
    .item-parent {
        width: 16.6%;
    }
}

.item {
    display: flex;
    margin: 5px;
    position: relative;
}

.cover {
    flex: 0;
}

.content {
    position: relative;
    flex: 1;
    margin-left: 10px;
    height: 241px;
    overflow: hidden;
}

.platform-container {
    position: absolute;
    top: 3px;
    left: 3px;
    background: rgba(255,255,255,0.7);
    border-radius: 3px;
    height: 23px;
}

    .platform-container.filter {
        position: initial;
        display: inline-block;
        margin: 6px 6px 0 6px;
    }

.platform-image {
    margin: 2px;
}

    .platform-image.hide {
        opacity: 0.5;
    }

h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.summary {
    white-space: pre-wrap;
}

.gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 24px;
    background: linear-gradient(0, rgba(39,37,35,1) 0%, rgba(39,37,35,0) 100%);
    pointer-events: none;
}

#nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    line-height: 32px;
    margin: 0 5px;
    padding-bottom: 3px;
    background: #272523;
}

#filter > div {
    float: left;
}

#help {
    float: right;
}

#games {
    margin-top: 32px;
    clear: both;
}

    #games > .hide {
        display: none;
    }

#screenshots {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 2;
}

    #screenshots img {
        max-width: 100%;
        max-height: 100vh;
        margin: auto;
    }

.agile {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.agile__list {
    display: flex;
}

.slide {
    display: grid;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* https://codepen.io/lukaszflorczak/pen/ROJKQg */
.agile__nav-button {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    width: 80px;
}

    .agile__nav-button:hover {
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 1;
    }

.agile__nav-button--prev {
    left: 0;
}

.agile__nav-button--next {
    right: 0;
}

.agile__dots {
    bottom: 10px;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.agile__dot {
    margin: 0 10px;
}

    .agile__dot button {
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        display: block;
        height: 10px;
        font-size: 0;
        line-height: 0;
        margin: 0;
        padding: 0;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        width: 10px;
    }

    .agile__dot--current button, .agile__dot:hover button {
        background-color: #fff;
    }
